<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>注册</title>

    <link href="../static/css/style.css"  th:href="@{/css/style.css}"rel="stylesheet">
    <!-- 响应式样式 -->
    <link href="../static/css/style-responsive.css" th:href="@{/css/style-responsive.css}" rel="stylesheet">

    <!-- js IE8支持HTML5元素和媒体查询 IE 兼容脚本 -->
    <!--[if lt IE 9]>
    <script src="../static/js/html5shiv.js" th:src="@{/js/html5shiv.js}"></script>
    <script src="../static/js/respond.min.js" th:src="@{/js/respond.min.js}"></script>
    <![endif]-->
</head>

<body class="login-body">

<div class="container">

    <div class="alert alert-success" role="alert" th:if="${msg != null}"  th:text="${msg}">  </div>
    <form class="form-signin" method="post" action="/shopping/register.do" th:action="@{/register}">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">用户注册</h1>
        </div>
        <div class="login-wrap">
            <input type="text" class="form-control" name="memberName"  placeholder="用户名" autofocus>
            <input type="password" class="form-control" name="password"  placeholder="密码">
            &nbsp;&nbsp;&nbsp;性别：
            &nbsp; &nbsp;男&nbsp;&nbsp;<input type="radio" class="radio-inline" name="sex" value="男">
            &nbsp; &nbsp;女&nbsp;&nbsp;<input type="radio" class="radio-inline" name="sex" value="女">
            <input type="text" class="form-control" name="address" placeholder="地址">
            <input type="text" class="form-control" name="phoneNum" placeholder="手机号">

            <button class="btn btn-lg btn-login btn-block" type="submit">
                <i class="fa fa-check"></i>
            </button>
        </div>

    </form>
    <div align="center">
        <a class="btn btn-default navbar-btn" href="/index.jsp" th:href="@{/}" >返回登录页</a>
    </div>

</div>



<!-- Placed js at the end of the document so the pages load faster -->

<!-- Placed js at the end of the document so the pages load faster -->
<script src="../static/js/jquery-1.10.2.min.js" th:src="@{/js/jquery-1.10.2.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/modernizr.min.js" th:src="@{/js/modernizr.min.js}"></script>

</body>
</html>
